/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Set Default CSS */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 5rem;
}

/* Mengatur Scroll Bar */
html::-webkit-scrollbar {
    background: var(--body-color);
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
}

/* Default Element */
a {
    text-decoration: none;
}

section {
    padding: 3rem 0 2rem;
}

img {
    width: 100%;
}

.bx {
    cursor: pointer;
}

body {
    background: var(--body-color);
    color: var(--text-color);
}

/* Style */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-color);
    z-index: 10;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 5%;
}

/* Logo */
.logo {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    display:flex;
    align-items: center;
    gap:10px;
}

.logo span {
    color: var(--main-color);
}

/* menu-icon */
.menu-icon {
    font-size: 40px;
    display: none;
}

/* NAVBAR */
.container-navbar {
    margin-right: 35%;
    column-gap: 2rem;
}

.navlink {
    color: var(--text-color);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px 5px;
    color: var(--teks-color);
    text-align: start;
    font-size: 18px;
    margin-bottom : 7px;
}

ul li ul.dropdown  li {
    display: block;
}

ul li ul.dropdown li a {
    font-size: 14px;
}

ul li ul.dropdown {
    width: 200px;
    height: 220px;
    background: var(--container-color);
    position: absolute;
    border-radius: 8px;
    z-index: 999;
    display: none;
}

ul li a:hover {
    color: var(--main-color);
}

ul li:hover ul.dropdown {
    display: block;
}

/* Search Box */
.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 0 0 0 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
    transition:.3s;
}

.ikon-search {
    width:50px;
    height:40px;
    background-color: var(--main-color);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50% 50% 0;
    box-sizing: border-box;
}

.search {
    max-width: 300px;
}

.search-box .bx {
    font-size: 1.1rem;
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--teks-color);
    background: transparent;
    font-size: 0.938rem;
}

/* User */
.pict {
    display: flex;
}

.pict img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.pict .bx {
    margin-left: 12%;
    position: relative;
    font-size: 150%;
    top: 7px;
    cursor: pointer;
}

form button {
    border:none;
    color:white;
}

/* Copyright */
footer {
    text-align: center;
    padding: 2%;
    color: var(--text-color);
    background: var(--header-color);
}